# Secrets
.env
*.local
docs

# Sensitive customer files
infra
containerApp
commands.ps1
customers/
extractor/__pycache__/
helperscripts/__pycache__/
reports/
templates/YYYY-MM-DD_CUSTOMER_CostManagement.docx

# IDE
.venv/
.vscode/